* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.header {
    background-color: #3481E9;
    color: white;
    font-size: 26px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-gray-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    row-gap: 20px;
}

.box-gray {
    min-height: 150px;
    font-size: 14px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ECECEC;
    text-align: center;
}

.box-colored-container {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.box-colored {
    color: white;
    min-height: 150px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-colored.blue {
    background-color: #3481E9;
}

.box-colored.orange {
    background-color: #ECBB52;
}

.box-colored.green {
    background-color: #03F1C0;
}

.box-colored.pink {
    background-color: #F83C77;
}

.text-bold {
    font-weight: 700;
}

.pr-10px {
    padding-right: 10px;
}

.pl-10px {
    padding-left: 10px;
}

.pr-0px {
    padding-right: 0px;
}

.pl-0px {
    padding-left: 0px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .pr-sm-10px {
        padding-right: 10px;
    }
    
    .pl-sm-10px {
        padding-left: 10px;
    }
    
    .pr-sm-0px {
        padding-right: 0px;
    }
    
    .pl-sm-0px {
        padding-left: 0px;
    }

    .d-sm-none {
        display: none;
    }
    
    .d-sm-block {
        display: block;
    }
}

@media only screen and (min-width: 900px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .pr-md-10px {
        padding-right: 10px;
    }
    
    .pl-md-10px {
        padding-left: 10px;
    }
    
    .pr-md-0px {
        padding-right: 0px;
    }
    
    .pl-md-0px {
        padding-left: 0px;
    }

    .d-md-none {
        display: none;
    }
    
    .d-md-block {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .pr-lg-10px {
        padding-right: 10px;
    }
    
    .pl-lg-10px {
        padding-left: 10px;
    }
    
    .pr-lg-0px {
        padding-right: 0px;
    }
    
    .pl-lg-0px {
        padding-left: 0px;
    }

    .d-lg-none {
        display: none;
    }
    
    .d-lg-block {
        display: block;
    }
}