*{
    margin: 0;
    padding: 0;

}

.header{
    position: absolute;
    width: 600px;
    height: 50px;
    margin-left: 400px;
    border-bottom: 1px solid rgb(184, 182, 182);
    display:flex;
    justify-content:space-between;


}
.title{
    position: relative;
    display: flex;
    margin-top: 15px;
    color: gray;
}
.container{
    display: flex;
    

}
.contact{

    position: relative;
    color:rgb(79, 116, 219 );
    margin-top: 15px;
    margin-left: 10px;
}

.about{
    position: relative;
    color: rgb(79, 116, 219 );
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

    
.btn{
     position: relative;
     width: 60px;
     height: 30px;
     background-color: rgb(79, 116, 219);
     margin-top: 10px;
     color: white;
     border:1px solid rgb(79, 116, 219 );
     border-radius: 2px;
    margin-right: 10px;
}

.par{
    width: 600px;
    height: 280px;
    background-color: rgb(235, 233, 233);
    border: 1px solid rgb(235, 233, 233);
    border-radius: 3px;
    display: flex;
    text-align: center;
    margin-top: 80px;
    margin-left: 400px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    

}

.h1{
    margin-top: 30px;
    font-size: 60px;
    color: rgb(59, 57, 57);
}

.par2{
   
    width: 500px;
    color: rgb(59, 57, 57);
    position: relative;
    margin-left: 50px;
}

.btn1{
    width: 120px;
    height: 40px;
    font-weight: 600;
    margin-top: 20px;
    color: white;
    background-color: rgb(77, 158, 77);
    border: 1px solid rgb(77, 158, 77);
    border-radius: 3px;
    align-self: center;
    

}

.table{
    display: flex;
    position: absolute;
    width: 600px;
    margin-top: 380px;
    margin-left: 410px;
    text-align: left;
}
.th{
    padding-top: 10px;
    padding-bottom: 3px;
    color: rgb(78, 78, 78);
}
.td{
    color: rgb(78, 78, 78);
}

.copy{
    display: inline-block;
    font-size: small;
    color: rgb(117, 116, 116);
    margin-top: 680px;
    margin-left: 410px;
    margin-bottom: 40px;
}